
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Maps & Geolocation</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar [(ngModel)]="search" (ionChange)="searchChange()"Placeholder="para donde"></ion-searchbar>
  <form [formGroup]="formgroup" (ngSubmit)="initMap(formgroup.value)">
  <ion-item>
      <div id="floating-panel">
          <input id="address" type="textbox" (click)="initMap()"value="{{origenServ}}">
          <input id="submit" type="button" value="Geocode"  (click)="initMap()">
         
        </div>
        <ion-label position="floating">*Origen del Servicio</ion-label>
      <ion-input formControlName="origenServ"></ion-input>
</ion-item>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="geolocateMe()" color="secondary">
      <ion-icon name="locate"></ion-icon>
    </ion-fab-button>
    
  </ion-fab>
  <ion-button shape="round" color="danger" size="small" type="submit"  expand="block" >Ingresar Solicitud</ion-button>
</form>
<google-map [mapOptions]="mapOptions"></google-map>
  
</ion-content>


