

<ion-content>
   
      <ion-grid>
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
              <h3>Ingresar</h3>
            </div>
           
            <form [formGroup]="formgroup" (ngSubmit)="onSubmit(formgroup.value)">
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input formControlName="email"></ion-input>
              </ion-item>
          
                  <div *ngIf="submitted && frm.email.errors" class="invalid-feedback">
                    <ion-item *ngIf="frm.email.errors.required">
                        <p style="color:red">El correo es requerido!</p>
                    </ion-item>
                    <ion-item *ngIf="frm.email.errors.email">
                        <p style="color:red">El correo electrónico no es valido!</p>
                    </ion-item>
                  </div>		
                  <ion-item>
                    <ion-label position="floating">Clave</ion-label>
                    <ion-input type="password" formControlName="password"></ion-input>
                  </ion-item>
              
                      <div *ngIf="submitted && frm.password.errors" class="invalid-feedback">
                        <ion-item *ngIf="frm.password.errors.required">
                            <p style="color:red">La clave es requerida</p>
                        </ion-item>
                        <ion-item *ngIf="frm.password.errors.minlength">
                            <p style="color:red">La clave debe contener 6 caracteres minimo!</p>
                        </ion-item>
                      </div>
                      <ion-col>
                        <ion-button size="large" type="submit"  expand="block" [disabled]="!formgroup.valid">Ingresar</ion-button>   
                      </ion-col>
              
            </form>
           
            <ion-button class="signup-btn" fill="clear" [routerLink]="['/registrousuario']">
              Registrarme!
            </ion-button>
            <ion-button fill="clear" [routerLink]="['/registrousuario']">
              Recuperar Contraseña!
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    
  </ion-content>
